node_modules
coverage
dist
.DS_Store
.xiao
packages/docs/.vitepress/cache
packages/admin/src/auto-imports.d.ts
packages/admin/src/typed-router.d.ts
packages/admin/src/vue-components.d.ts
packages/apis/nestjs/public/upload
packages/apis/nestjs/upload
packages/apis/nestjs/upload-test
packages/apis/nestjs/logs
