node_modules
coverage
dist
.DS_Store
.xiao

# VitePress
packages/docs/.vitepress/cache

# Admin
packages/admin/src/auto-imports.d.ts
packages/admin/src/typed-router.d.ts
packages/admin/src/vue-components.d.ts

# API
packages/api/public/upload
packages/api/logs
packages/api/tests/__fixtures__/logs
packages/api/tests/__fixtures__/upload
