body {
  // Color
  --theme-color-rgb: var(--primary-6);
  --theme-color: rgb(var(--primary-6));
  --theme-color-light: rgb(var(--primary-4));
  --theme-color-light-50: rgb(var(--primary-4) / 50%);
  --theme-color-dark: rgb(var(--primary-7));
  --theme-color-darker: rgb(var(--primary-8));
  --theme-secondary-color: rgb(var(--green-6));
  --theme-secondary-color-light: rgb(var(--green-4));
  --theme-secondary-color-dark: rgb(var(--green-7));
  --theme-secondary-color-darker: rgb(var(--green-8));

  // Page
  --page-padding: 20px;
  --page-padding-md: 16px;
  --page-padding-sm: 10px;
  --page-transition: all .2s cubic-bezier(.34, .69, .1, 1);

  // Layout -> Header
  --layout-header-height: 48px;
  --layout-header-bg-color: var(--color-neutral-10);
  --layout-header-text-color: var(--color-text-4);
  --layout-header-text-color-active: var(--color-white);
  --layout-header-border-color: var(--color-neutral-8);
  --layout-header-zindex: 500;

  // Layout -> Sider
  --layout-sider-zindex: 400;
  --layout-sider-border-color: var(--color-border-2);
  --layout-sider-main-width: 56px;
  --layout-sider-main-text-color: var(--color-text-3);
  --layout-sider-main-text-color-hover: var(--color-text-2);
  --layout-sider-main-text-color-active: var(--theme-color);
  --layout-sider-main-bg-color: var(--color-fill-2);
  --layout-sider-sub-width: 160px;
  --layout-sider-sub-bg-color: var(--color-white);

  // Layout -> Content
  --layout-content-bg-color: var(--color-fill-2);

  // Layout -> Footer
  --layout-footer-height: 48px;
  --layout-footer-text-color: var(--color-neutral-5);
  --layout-footer-text-color-hover: var(--color-neutral-8);
}
